* {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    padding: 20px;
    background-color: rgb(161, 161, 161);
}

#caja {
    font-size: 1em;
    width: 240px;
    padding: 10px;
    border: 3px solid rgb(82, 82, 82);
    color: rgb(46, 46, 46);
    font-weight: bold;
    background-color: rgb(218, 218, 218);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
}

button {
    margin-bottom: 5px;
}

section {
    max-width: 400px;
    margin: auto;
}